irssi/away.log
*.data
*.history
task/.vim_tw.bookmark
*.swp
.ssh-agent
lyrics/

tags
tags.*

vimgolf
*pyc

*.log
sec.conf

plugins.xml.gz

logs

pid
*.pid

*db
history.search
history.cmdline

bin/rackup
bin/tilt
bin/task-web


datetime.tmux

*lock

bin/erb
bin/fetch
bin/gli
bin/pakman
bin/pluto
bin/racc

