irssi/away.log
*.data
*.history
task/.vim_tw.bookmark
*.swp
.ssh-agent
lyrics/

tags
tags.*

vimgolf
*pyc

*.log
sec.conf

plugins.xml.gz

logs

pid
*.pid

*db
history.search
history.cmdline

bin/rackup
bin/tilt
bin/task-web

byobu/color.tmux
byobu/datetime.tmux
byobu/keybindings.tmux
byobu/status
byobu/statusrc
byobu/tmux-session
byobu/tmux-session-1
byobu/profile.tmux
byobu/windows.tmux

