[Unit]
Description=Run offlineimap-full.service twice a day

[Timer]
OnCalendar=*-*-* 7,20:00:*
Unit=offlineimap-full.service

[Install]
WantedBy=default.target
