[Unit]
Description=Run offlineimap-quick.service every ten minutes during work hours

[Timer]
OnCalendar=Mon..Fri *-*-* 8..19:0/10:00
Unit=offlineimap-quick.service

[Install]
WantedBy=default.target
