[Unit]
Description=Run task report every Friday

[Timer]
OnCalendar=Fri *-*-* 19:00:00
Unit=task-report.service
Persistent=true

[Install]
WantedBy=default.target
