[Unit]
Description=Run timew-notification every 30 minutes on work days

[Timer]
OnCalendar=Mon..Fri *-*-* 9..18:00/30:00
Unit=timew-notification.service

[Install]
WantedBy=default.target
