[Desktop Entry]
Type=Application
Name=Neomutt
Icon=evolution
Exec=/home/asinha/bin/neomutt-compose-wrapper.sh %u
Terminal=true
StartupNotify=true
Categories=Office;Email;X-Internet;
X-Desktop-File-Install-Version=0.23
Comment=A text mode mail user agent
