[Desktop Entry]
Type=Application
Name=Neomutt
Icon=evolution
Exec=neomutt %u
Terminal=true
StartupNotify=true
Categories=Office;Email;Internet;
X-Desktop-File-Install-Version=0.23
Comment=A text mode mail user agent
